.slider {
   padding: 120px 0 160px;
   @media (max-width: 580px) {
      padding: 130px 0 87px;
   }
   &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
   }
   &_title {
      font-size: var(--fs-big);
      line-height: var(--lh-title);
      font-weight: var(--fw-bold);
   }
   &_controls {
      flex: 0 1 560px;
      display: flex;
      align-items: center;
      gap: 40px;
      @media (max-width: 580px) {
         flex: 0 0 55px;
         gap: 20px;
      }
   }
   &_scroll {
      flex: 0 1 360px;
      height: 1px;
      background-color: var(--color-secondary);
      position: relative;
      overflow: hidden;
      &__active {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         background-color: var(--color-main);
         transition: left ease 0.2s;
      }
      @media (max-width: 580px) {
         order: 1;
      }
   }
   &_button {
      min-width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-secondary);
      cursor: pointer;
      user-select: none;
      transition: background-color ease 0.2s;
      @media (any-hover: hover) {
         &:hover {
            background-color: var(--color-secondary);
         }
      }
   }
   &_bottom {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
   &_wrapper {
      width: 100%;
      overflow: hidden;
   }
   &_body {
      display: flex;
      gap: 40px;
      transition: transform ease 0.2s;
      @media (max-width: 580px) {
         gap: 10px;
      }
   }
   &_item {
      max-width: 260px;
      padding: 20px 20px 22px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: 1px solid var(--color-secondary);
      transition: border-color ease 0.2s;
      @media (any-hover: hover) {
         &:hover {
            border-color: var(--color-main);
         }
      }
      @media (max-width: 580px) {
         max-width: none;
         min-width: 280px;
         padding-bottom: 46px;
      }
   }
   &_img {
   }
   &_date {
   }
   &_label {
      margin-right: -10px;
      font-size: var(--fs-medium);
      line-height: var(--lh-subtitle);
      flex: 0 0 78px;
   }
}
